html
	head
		title= title
		body
			h1="Result"
			p= temp
			p= appTemp
			p= clouds
			p= pressure
			p= humidity
			p= windDir
			p= windSpeed
			p= precipitation
			p= sunsetTime
			p= sunriseTime